.main {
    margin-bottom: 69px;

    .text {
        font-weight: 400;
        font-size: 16px;
        color: #7690A8;
        margin-bottom: 17px;
    }

    .hero-title {
        font-weight: 600;
        font-size: 40px;
        color: $dark-blue;
        margin: 0 0 35px;
    }

    .groups {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1185px;
        width: 100%;
    }

    .group {
        max-width: 360px;
        width: 100%;
        padding: 41px 45px 46px 41px;
        border: 1px solid #E5EAF4;
        border-radius: 8px;

            &:hover {
                border: 1px solid #3DB370;
            }
        
        a {
            color: $dark-blue;
        }

    }

    .svg-holder {
        width: 64px;
        height: 64px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(21, 101, 216, 0.1);
        border-radius: 16px;
        margin-bottom: 28px;

        &:hover {
            border: 1px solid #3DB370;
        }

        &:hover .last-path {
            fill: #3DB370;
        }
    }

    .title {
        color: $dark-blue;
        margin-bottom: 14px;
    }

    .text-holder {
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 29px;
    }

}